@charset "UTF-8";
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: "Raleway", sans-serif, "Open Sans";
}

.container-header {
  display: flex;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 0em;
  left: 20px;
  position: relative;
  color: #08A6E4;
  cursor: pointer;
}

.nav-bar ul li {
  margin-right: 75px;
  padding: 0 20px;
  display: inline-block;
}
.nav-bar ul a {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 3.28px;
  text-transform: uppercase;
  color: #A5A5A5;
}

.checkbtn {
  display: none;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  color: #08A6E4;
}

#check {
  display: none;
}

@media (max-width: 950px) {
  .checkbtn {
    display: block;
  }
  .nav-bar ul {
    position: fixed;
    width: 100%;
    height: 300px;
    background: #FFFFFF;
    top: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    text-align: center;
    transition: all 0.5s;
    top: -320px;
    left: 0px;
    z-index: 2;
  }
  .nav-bar ul li {
    display: block;
    margin: 50px 0;
    line-height: 10px;
  }
  .nav-bar ul a {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
  }
  li a:hover, li a.active {
    background: none;
    color: black;
  }
  #check:checked ~ ul {
    top: 70px;
  }
}
main {
  width: 100%;
  margin: 0 auto;
}

/* ------------ OPENING SECTION -------- */
.opening-section {
  display: inline-block;
  text-align: center;
  width: 80%;
  height: auto;
  z-index: 1;
  position: inherit;
  margin: 0px 10%;
}
.opening-section h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #000000;
}
.opening-section p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
}

#boton button {
  width: 310px;
  height: 67px;
  background: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 40px;
  border-color: rgba(7, 172, 230, 0.29);
}
#boton button a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF;
}

/*------------BACKGROUND----------*/
.background1 {
  margin: 50px 10%;
}
.background1 img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 80vw;
}

.tx-most-popular {
  width: 80%;
  margin: 0 10%;
}
.tx-most-popular p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

/* ------------COLUMNAS------------------- */
.column1 {
  margin: 0px 10%;
}
.column1 #icono-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62.71px;
  color: #FB3B64;
  transform: translateZ(-1px);
}
.column1 #icono-2 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-60px);
}
.column1 p {
  margin-top: -20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5.96px;
  color: #000000;
}
.column1 #tx {
  margin-top: 20px;
  margin-left: -20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #A5A5A5;
}

/* ----------------------Column2 -------------------------- */
.column2 {
  margin: 0px 10%;
}
.column2 #icono-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62.71px;
  color: #08A6E4;
  transform: translateZ(-1px);
}
.column2 #icono-2 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-60px);
}
.column2 p {
  margin-top: -20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5.96px;
  color: #000000;
}
.column2 #tx {
  margin-top: 20px;
  margin-left: -20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #A5A5A5;
}

/* COLUMNA 3 */
.column3 {
  margin: 0px 10%;
}
.column3 #icono-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62.71px;
  color: #55DFB4;
  transform: translateZ(-1px);
}
.column3 #icono-2 {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-60px);
}
.column3 p {
  margin-top: -20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 5.96px;
  color: #000000;
}
.column3 #tx {
  margin-top: 20px;
  margin-left: -20px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #A5A5A5;
}

/*------------- RECTÁNGULO 3--------------- */
.contenedor-rectangulo {
  width: 100%;
  margin: 0px;
  background: #F7F7F7;
  text-align: center;
}

/*------------- CONTENEDOR 1--------------- */
.contenedor-box {
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}
.contenedor-box #icono-1 {
  color: #FB3B64;
  font-size: 62.71px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50px);
}
.contenedor-box .mac {
  width: 192.76px;
  height: 109.93px;
  margin: 0;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-50px);
}
.contenedor-box #tx1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin: 0px;
}
.contenedor-box #tx2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

/*------------- CONTENEDOR 2--------------- */
.contenedor-box2 {
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}
.contenedor-box2 #icono-1 {
  color: #08A6E4;
  font-size: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-box2 #phone {
  width: 175px;
  height: 134.99px;
  margin: 0;
  display: inline-block;
  position: relative;
  transform: translateX(25px) translateY(-115px);
}
.contenedor-box2 #tx1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-top: -100px;
}
.contenedor-box2 #tx2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

/*------------- CONTENEDOR 3--------------- */
.contenedor-box3 {
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin: 20px;
  padding: 100px;
}
.contenedor-box3 #tx1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
}
.contenedor-box3 #tx2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

/*------------- CONTENEDOR 4--------------- */
.contenedor-box4 {
  box-sizing: border-box;
  background: #55DFB4;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  width: 75%;
  display: inline-block;
}
.contenedor-box4 #trompeta {
  width: 295.73px;
  height: 207.72px;
  justify-content: center;
}

/* ----------------------- PRICING ------------------------- */
#h1-pricing {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

/*----------------Contenedor 1 -------------------*/
.contenedor-pricing {
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  margin: 20px 10%;
}
.contenedor-pricing .column-pricing1 {
  background: #FFFFFF;
  border: 1px solid #FB3B64;
  border-radius: 18px;
  width: 80%;
  display: inline-block;
  margin: 0px;
}
.contenedor-pricing .column-pricing1 .box1 {
  width: 40%;
  justify-content: left;
  display: inline-block;
  transform: translateY(-35px);
}
.contenedor-pricing .column-pricing1 #titulo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253B;
  margin-top: 10px;
}
.contenedor-pricing .column-pricing1 #precio {
  margin-top: 0px;
  height: 64px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: #FB3B64;
}

.contenedor-pricing .box2 {
  width: 40%;
  display: inline-block;
  text-align: left;
  margin-top: 30px;
}
.contenedor-pricing .box2 li {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  white-space: nowrap;
  display: block;
  margin-top: 5px;
}

#checkon {
  box-sizing: border-box;
  width: 11px;
  height: 11px;
  left: 0px;
  top: 0px;
  color: #55DFB4;
  margin-right: 10px;
}

#checkoff {
  box-sizing: border-box;
  width: 11px;
  height: 11px;
  left: 0px;
  top: 0px;
  color: #EB476E;
  margin-right: 10px;
}

#begin-btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  left: 25%;
  background: #EB476E;
  border-radius: 23px;
  border-color: #EB476E;
  border-bottom: #EB476E;
  border-right: #EB476E;
  transform: translateY(-25px);
}
#begin-btn p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
}

/*----------------Contenedor 2 -------------------*/
.contenedor-pricing2 {
  width: 90%;
  display: inline-block;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  margin: 20px 5%;
}
.contenedor-pricing2 .column-pricing2 {
  background: #FFFFFF;
  border: 1px solid #07ACE6;
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
  border-radius: 18px;
  box-sizing: border-box;
  width: 80%;
  display: inline-block;
  margin: 0px;
}
.contenedor-pricing2 .column-pricing2 .box3 {
  margin-top: 10px;
  width: 40%;
  justify-content: left;
  text-align: center;
  display: inline-block;
}
.contenedor-pricing2 .column-pricing2 .box3 #titulo {
  line-height: 122.4%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253B;
}
.contenedor-pricing2 .column-pricing2 .box3 #precio {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 62px;
  color: #07ACE6;
  margin: 5px;
}
.contenedor-pricing2 .column-pricing2 .box3 #oferta {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #13253B;
  margin-bottom: 100px;
}
.contenedor-pricing2 .column-pricing2 .box4 {
  width: 40%;
  display: inline-block;
  text-align: left;
  margin-top: 30px;
}
.contenedor-pricing2 .column-pricing2 .box4 li {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  white-space: nowrap;
  display: block;
  margin-top: 5px;
}

#begin-btn2 {
  width: 150px;
  height: 50px;
  left: 25%;
  background: #07ACE6;
  border-radius: 23px;
  border-color: #07ACE6;
  border-bottom: #07ACE6;
  border-right: #07ACE6;
  transform: translateY(-25px);
  justify-content: center;
}
#begin-btn2 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}

/*----------------Contenedor 3 -------------------*/
.contenedor-pricing3 {
  width: 80%;
  display: inline-block;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  margin: 20px 10%;
}
.contenedor-pricing3 .column-pricing3 {
  box-sizing: border-box;
  width: 80%;
  background: #FFFFFF;
  border: 1px solid #55DFB4;
  box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
  border-radius: 18px;
  display: inline-block;
}
.contenedor-pricing3 .column-pricing3 .box5 {
  width: 40%;
  justify-content: left;
  display: inline-block;
}
.contenedor-pricing3 .column-pricing3 .box5 #titulo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13253B;
  margin-top: 10px;
}
.contenedor-pricing3 .column-pricing3 .box5 #precio {
  margin: 5px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
  color: #55DFB4;
}
.contenedor-pricing3 .column-pricing3 .box5 #oferta {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #13253B;
  margin-bottom: 100px;
}
.contenedor-pricing3 .column-pricing3 .box6 {
  width: 40%;
  display: inline-block;
  text-align: left;
  margin-top: 30px;
}
.contenedor-pricing3 .column-pricing3 .box6 li {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  white-space: nowrap;
  display: block;
  margin-top: 5px;
}

#begin-btn3 {
  width: 150px;
  height: 50px;
  left: 25%;
  background: #55DFB4;
  border-radius: 23px;
  border-color: #55DFB4;
  border-bottom: #55DFB4;
  border-right: #55DFB4;
  transform: translateY(-25px);
}
#begin-btn3 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}

/* ---------FORMULARIO -------------- */
.formulario {
  width: 80%;
  align-items: center;
  text-align: left;
  display: block;
  margin-left: 10%;
  justify-content: center;
}
.formulario #titulo1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}
.formulario #titulo2 {
  margin-top: -20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

#contacto {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #A5A5A5;
  text-align: left;
}
#contacto i {
  color: #08A6E4;
}

/*----------FORMULARIO 2 -----------*/
.formulario2 {
  width: 80%;
  align-items: center;
  text-align: left;
  display: block;
  margin-left: 10%;
  margin-top: 50px;
}
.formulario2 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.28px;
  color: #08A6E4;
}
.formulario2 input {
  border-top: none;
  border-left: none;
  border-right: none;
}

/*-------------------LEGAL----------------*/
.legal {
  width: 80%;
  align-items: center;
  text-align: left;
  display: flex;
  justify-content: start;
  margin: 0 10%;
}
.legal p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 20px;
}

#checkbox {
  display: flex;
  text-align: left;
  flex-direction: row-reverse;
}

.send {
  width: 80%;
  margin: 20px 0;
  justify-content: flex-end;
  display: flex;
}
.send #send {
  width: 226px;
  height: 57px;
  background: #08A6E4;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
  border-radius: 35px;
  border: #08A6E4;
}

#tx-btn {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF;
  border-top: none;
}

/*---------------- FOOTER----------- */
.footer {
  display: flex;
  width: auto;
  height: 89px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background: #F7F7F7;
  box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
}
.footer .column1 {
  align-items: center;
  justify-content: center;
}
.footer .column1 #footer-logo {
  margin-top: 22px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #08A6E4;
}
.footer .column1 #copiright {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #A5A5A5;
  letter-spacing: -0.2px;
  text-align: left;
}
.footer .column2 {
  align-items: center;
  justify-content: space-between;
}
.footer .column2 #twitter {
  color: #55ACEE;
  font-size: 24px;
  margin-right: 20px;
}
.footer .column2 #facebook {
  color: #3B5998;
  font-size: 24px;
}

/*------------------ DESKTOP --------------------------*/
@media only screen and (min-width: 1000px) {
  .container-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .contenedor-rectangulo {
    display: grid;
    grid-template-rows: repeat(3, 3fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 37px;
    grid-auto-rows: minmax(100px, auto);
  }
  /* --------RECTANGULOS---------*/
  /* --------RECTANGULO 1---------*/
  .contenedor-box {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    height: 370px;
  }
  .grid-rectangulo1 {
    grid-column: 2/3;
  }
  .grid-rectangulo2 {
    display: grid;
    grid-column: 1/2;
    margin-top: -350px;
    align-items: center;
    justify-self: center;
    width: 327.64px;
    border-bottom: 4px solid #FB3B64;
  }
  .contenedor-box #icono-1 {
    font-size: 200px;
    justify-content: center;
    transform: translateX(90px);
  }
  .contenedor-box .mac {
    font-size: 300px;
    width: 366.44px;
    height: 199px;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
  }
  /* --------RECTANGULO 2---------*/
  .contenedor-box2 {
    height: 370px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-top: 50px;
  }
  .grid-rectangulo3 #phone {
    width: 400px;
    height: 328px;
  }
  .grid-rectangulo3 #icono-1 {
    font-size: 300px;
    transform: translateY(150px);
  }
  .grid-rectangulo4 {
    width: 327.64px;
    border-bottom: 4px solid #08A6E4;
    text-align: left;
  }
  /* --------RECTANGULO 3---------*/
  .contenedor-box3-4 {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .contenedor-box3 {
    margin-left: 15%;
    height: 370px;
    display: grid;
    grid-column: 1/2;
    align-items: center;
    text-align: left;
  }
  .grid-rectangulo5 {
    display: grid;
  }
  .contenedor-box4 {
    display: grid;
    background-color: #55DFB4;
    grid-column: 2/3;
    margin-top: 3%;
    height: 370px;
  }
  #trompeta {
    margin-top: 70px;
  }
  /* --------PRICING---------*/
  .h1-pricing {
    margin-top: 100px;
  }
  .pricing-box {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    align-items: center;
  }
  .contenedor-pricing1 {
    grid-column: 1/2;
  }
  .contenedor-pricing1 .column-pricing1 {
    display: grid;
    grid-template-rows: 50% 50%;
  }
  .contenedor-pricing2 {
    grid-column: 2/3;
  }
  .contenedor-pricing3 {
    grid-column: 3/4;
  }
  /* --------FORMULARIO---------*/
  .grip-formulario {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    align-items: start;
  }
  .formulario {
    margin-left: 250px;
  }
  .contacto {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #contacto {
    margin-right: 60px;
  }
  .legal {
    margin-left: 0;
  }
  .footer {
    justify-content: space-between;
  }
}/*# sourceMappingURL=styles.css.map */