* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 320px;
    font-family: 'Raleway', sans-serif, 'Open Sans';
}


.container{
    position: absolute;
    width: 375px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}

.logo{
    height: 37px;
    width: 206px;
    left: 35px;
    top: 17px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;

    color: #08A6E4;
}

#icono-nav{
    position: absolute;
    width: 20px;
    height: 12px;
    left: 325px;
    top: 29px;
    color: #08A6E4;
}

.opening-section{
    position: absolute;
    height: 213px;
    width: 310px;
    left: 33px;
    top: 170px;
    border-radius: 0px;
}

.opening-section h3{
    position: absolute;
    width: 162px;
    height: 41px;
    left: 73.59px;
    top: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.opening-section p{
    position: absolute;
    width: 308px;
    height: 57px;
    left: 1.56px;
    top: 61px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;

    text-align: center;

    color: #000000;
    }

#boton button{
    position: absolute;
    width: 310px;
    height: 67px;
    left: 0px;
    top: 146px;
    position: absolute;
    background: #08A6E4;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.29);
    border-radius: 40px;
    border-color: rgba(7, 172, 230, 0.29);

}



#boton button a{
    position: absolute;
    width: 127px;
    height: 22px;
    left: 92px;
    top: 22px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    

    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.background1{
    position: absolute;
    width: 375px;
    height: 267px;
    
    top: 434px;
}

.background1 img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 267px;
}


.tx-most-popular{
    position: absolute;
    width: 303px;
    height: 112px;
    left: 36px;
    top: 714px;
}

.tx-most-popular p { 
    font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 35px;
/* or 117% */

text-align: center;

}

/* COLUMNAS */


.column1{
    position: absolute;
    width: 117px;
    height: 140px;
    left: 129px;
    top: 851px;
}

.column1 #icono-1{
    font-size: 62.71px;
    position: absolute;
    width: 62.71px;
    height: 62.71px;
    left: 21.73px;
    top: 0px;
    color: #FB3B64;
}

.column1 #icono-2{
    font-size: 50px;
    position: absolute;
    width: 62.71px;
    height: 62.71px;
    left: 55px;
    top: 7px;
}

.column1 p{
    position: absolute;
width: 117px;
height: 24px;
left: 0px;
top: 76.89px;

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

text-align: center;
letter-spacing: 5.96px;

color: #000000;
}

.column1 #tx{
    position: absolute;
    width: 95px;
    height: 20px;
    left: 11.15px;
    top: 120px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height, or 118% */

    text-align: center;
    letter-spacing: -0.5px;
    color: #A5A5A5;
}

/*Column2 */


.column2{
    position: absolute;
    width: 176px;
    height: 167px;
    left: 100px;
    top: 1016px;
}

.column2 #icono-1{
    font-size: 62.71px;
    position: absolute;
    width: 62.71px;
    height: 62.71px;
    left: 57px;
    top: 0px;
    color: #08A6E4;
}

.column2 #icono-2{
    font-size: 50px;
    position: absolute;
    width: 62.71px;
    height: 62.71px;
    left: 80px;
    top: 7px;
}

.column2 p{
    position: absolute;
    width: 136px;
    height: 24px;
    left: 20px;
    top: 76px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    text-align: center;
    letter-spacing: 5.96px;
    
    color: #000000;
}

.column2 #tx{
    position: absolute;
    width: 176px;
    height: 48px;
    left: 0px;
    top: 119px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */

    
    text-align: center;
    letter-spacing: -0.4px;
    color: #A5A5A5;
}

/* COLUMNA 3 */

.column3{
    position: absolute;
    width: 163px;
    height: 168px;
    left: 106px;
    top: 1208px;
}

.column3 #icono-1{
    font-size: 62.71px;
    position: absolute;
    width: 62.71px;
    height: 62.71px;
    left: 57px;
    top: 0px;
    color: #55DFB4;
}

.column3 #icono-2{
    font-size: 45px;
    position: absolute;
    width: 62.71px;
    height: 62.71px;
    left: 85px;
    top: 7px;
}

.column3 p{
    position: absolute;
    width: 136px;
    height: 24px;
    left: 20px;
    top: 76px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    text-align: center;
    letter-spacing: 5.96px;
    
    color: #000000;
}

.column3 #tx{
    position: absolute;
    width: 176px;
    height: 48px;
    left: 0px;
    top: 119px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 119% */

    
    text-align: center;
    letter-spacing: -0.4px;
    color: #A5A5A5;
}


.contenedor-rectangulo{
    position: absolute;
width: 375px;
height: 1395.66px;
left: 0px;
top: 1426px;

background: #F7F7F7;
}

.contenedor-box{
    box-sizing: border-box;

    position: absolute;
    width: 314px;
    height: 370px;
    left: 30px;
    top: 42px;

    background: #FFFFFF;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.contenedor-box #icono-1{
    position: absolute;
    width: 90.12px;
    height: 90.12px;
    left: 180px;
    top: 20px;

    color: #FB3B64;
    

    font-size: 62.71px;
    position: absolute;
    
    
}

.contenedor-box .mac{
    position: absolute;
width: 192.76px;
height: 109.93px;
left: 55.27px;
top: 37.11px;
}

.contenedor-box #tx1{
    position: absolute;
    width: 198px;
    height: 72px;
    left: 22px;
    top: 174px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}

.contenedor-box #tx2{
    position: absolute;
    width: 272px;
    height: 84px;
    left: 21px;
    top: 256px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */


    color: #000000;
}

.contenedor-box2{
    box-sizing: border-box;

position: absolute;
width: 315px;
height: 370px;
left: 30px;
top: 453px;

background: #FFFFFF;
border: 1px solid #E8E9ED;
border-radius: 5px;
}

.contenedor-box2 #icono-1{
    position: absolute;
    width: 90.12px;
    height: 90.12px;
    left: 90px;
    top: 12px;

    color: #08A6E4;
    

    font-size: 140px;
    position: absolute;
}

.contenedor-box2 #phone{
    position: absolute;
    width: 175px;
    height: 134.99px;
    left: 95px;
    top: 19.01px;

}

.contenedor-box2 #tx1{
    position: absolute;
width: 218px;
height: 70px;
left: 22px;
top: 180px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;

color: #000000;
}

.contenedor-box2 #tx2{
    position: absolute;
    width: 272px;
    height: 77px;
    left: 21px;
    top: 268px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* or 136% */


    color: #000000;
}

.contenedor-box3{
    box-sizing: border-box;

position: absolute;
width: 314px;
height: 298px;
left: 30px;
top: 865px;

background: #FFFFFF;
border: 1px solid #E8E9ED;
border-radius: 5px;
}

.contenedor-box3 #tx1{
    position: absolute;
    width: 274px;
    height: 109px;
    left: 31.69px;
    top: 31px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    
    color: #000000;
    
}

.contenedor-box3 #tx2{
    position: absolute;
width: 274px;
height: 114px;
left: 31.69px;
top: 160.33px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

color: #000000;
}

.contenedor-box4{
    box-sizing: border-box;

position: absolute;
width: 314px;
height: 195px;
left: 30px;
top: 1156px;

background: #55DFB4;
border: 1px solid #E8E9ED;
border-radius: 5px;
}

.contenedor-box4 #trompeta{
    position: absolute;
    width: 295.73px;
    height: 207.72px;
    left: 0px;
    top: 30px;
    }